.jumbotron {
  padding-top: 5rem;
  background-color: #fff;
}
#projects {
  background-color: #fff;
}
#About {
  background-color: black;
}
#contact {
  background-color: black;
}
footer {
  background-color: black;
}
